.about-us-main-page{
    width: 100%;
    padding: 2%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: var(--white);
}

.main-text{
    width: 50%;
    text-align: center;
}