.main-footer {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0%;
    background: var(--green);
    display: flex;
    justify-content: center;
    padding: 1%;
}

.brand{
    position: absolute;
}

.links ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.github{

}